.reveal > .backgrounds > div {
   background-image: url('nsbackground.png');
   background-repeat: no-repeat;
   background-size: 105%;
 }

 .reveal > .backgrounds > div:first-child {
   background-image: url('nsbackground.png');
   background-repeat: no-repeat;
   background-size: 105%;
 }
